#myForm{
    margin-top: 90px;
    display: grid;
    grid-template-areas: 
    "a b"
    "c d"
    "e f"
    "g g"
    "h h"
    "i i";
    column-gap: 20px;
    box-shadow: 3px 3px 7px black;
    padding: 30px;
}
#btns{
    /* border: 3px solid black; */
    display: flex;
    justify-content: flex-end;
}
.item7{
    grid-area: g;
}
.item8{
    grid-area: h;
}
.item9{
    grid-area: i;
}