<form id="myForm" [formGroup]="student">
    <div class="form-group item1">
        <input type="text" name="name" class="form-control" placeholder="Enter Your Name." autocomplete="off" formControlName="sname">
    </div>
    <div class="form-group item2">
        <input type="text" name="age" class="form-control" placeholder="Enter Your Age." autocomplete="off" formControlName="age">
    </div>
    <div class="form-group  item3">
        <input type="text" name="email" class="form-control" placeholder="Enter Your Email." autocomplete="off" formControlName="email">
    </div>
    <div class="form-group  item4">
        <input type="password" name="pass" class="form-control" placeholder="Enter Your Password." autocomplete="off" formControlName="pass">
    </div>
    <div class="form-group  item5">
        <select name="college" class="form-control" formControlName="college">
            <option value="sjc">St. Joseph's College</option>
            <option value="jmc">Jamal College</option>
            <option value="loy">Loyola College</option>
            <option value="kc">Krishna College</option>
        </select>
    </div>
    <div class="form-group item6">
        <span style="margin-right: 30px;margin-left: 30px;">
            <input type="radio"  id="male" value="male" class="form-check-input" formControlName="gender">
            <label for="male" class="form-check-label">Male</label>
        </span>
        <span>
            <input type="radio"  id="female" value="female" class="form-check-input" formControlName="gender"><label for="female"
                class="form-check-label">Female</label>
        </span>
    </div>
    <div class="form-group item7">
        <input type="date" name="dob" class="form-control" formControlName="dob">
    </div>
    <div class="form-group item8">
        <textarea name="address" id="add" cols="30" rows="3" class="form-control" formControlName="address"></textarea>
    </div>
    <div id="btns" class="item9">
        <button type="reset" class="btn btn-warning">Reset</button>&nbsp;&nbsp;
        <button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>
    </div>
</form>