<form method="get" myForm="ngForm" #myForm (ngSubmit)="onSubmit(myForm.value)">
    <div class="form-group">
        <label for="name">Enter Your Name</label>
        <input type="text" name="name" id="name" required minlength="4" class="form-control" autocomplete="off"
            #myName="ngModel" [(ngModel)]="model.name" (input)="naming(myName)">
        <div *ngIf="myName.invalid && (myName.dirty || myName.touched)" class="alert alert-danger">
            <div [hidden]="!myName.errors?.['required']">
                <b>Name is Required.</b>
            </div>
            <div [hidden]="!myName.errors?.['minlength']">
                <b>Please Check Your Name.</b>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="con">Enter Your Contact</label>
        <input type="text" name="con" id="con" class="form-control" autocomplete="off" [(ngModel)]="model.con">
    </div>
    <div class="form-group">
        <label for="sal">Enter Your Salary</label>
        <input type="text" name="sal" id="sal" class="form-control" autocomplete="off" [(ngModel)]="model.sal">
    </div>
    <div class="form-group">
        <button type="reset" class="btn btn-warning" style="margin-right: 5px;">Reset</button>
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</form>