<form method="get" [formGroup]="student">
    <div class="form-group">
        <label for="name">Enter Your Name</label>
        <input type="text" name="name" id="name" class="form-control" autocomplete="off" formControlName="name">
    </div>
    <div class="form-group">
        <label for="con">Enter Your Contact</label>
        <input type="text" name="con" id="con" class="form-control" autocomplete="off" formControlName="age">
    </div>
    <div class="form-group">
        <label for="sal">Enter Your Salary</label>
        <input type="text" name="sal" id="sal" class="form-control" autocomplete="off" formControlName="salary">
    </div>
    <fieldset>
        <legend>Address</legend>
            <div formGroupName="address">
                <div class="form-group">
                    <label for="dno">Enter Your Door No.</label>
                    <input type="text" name="dno" id="dno" class="form-control" autocomplete="off"
                        formControlName="dno">
                </div>

                <div class="form-group">
                    <label for="street">Enter Your Street</label>
                    <input type="text" name="street" id="street" class="form-control" autocomplete="off"
                        formControlName="street">
                </div>
            </div>
 
    <div class="form-group">
        <button type="reset" class="btn btn-warning" style="margin-right: 5px;">Reset</button>
        <button type="button" class="btn btn-info" style="margin-right: 5px;" (click)="onUpdate()">Update</button>
        <button type="submit" class="btn btn-success" (click)="onSubmit()" [disabled]="!student.valid">Submit</button>
    </div>
</fieldset>

</form>