<div class="container well">
    <div class="col-ls-12 well">
        <div class="col-ls-6 well">
            <!-- <app-login></app-login> -->
            <!-- <app-practice></app-practice> -->
            <app-registration></app-registration>
        </div>
    </div>
</div>

<!-- <H1>String interpolation Example</H1>
<h3>My Name is {{ name }} and my age is {{ age }}</h3>
<h4>{{ messages() }}</h4>
<hr>
<h1>Property binding Example</h1> -->

<!-- <form action="#"> -->
<!-- <div class="form-group">
                    <label for="name"></label>
                    <input type="text" name="name" id="name" class="form-control" (input)="nameing($event)">
                </div>

                <div class="form-group">
                    <label for="age"></label>
                    <input type="text" name="age" id="age" class="form-control" (blur)="ageing($event)">
                </div> -->
<!-- <div class="form-group">
                    <label for="name"></label>
                    <input type="text" name="name" id="name" class="form-control" [(ngModel)]="name">
                    <p>{{ name }}</p>
                </div>

                <div class="form-group">
                    <label for="age"></label>
                    <input type="text" name="age" id="age" class="form-control" [(ngModel)]="age">
                    <p>{{ age }}</p>
                </div> -->
<!-- <div class="form-group">
                    <input type="text" name="server" id="server" class="form-control" [(ngModel)]="server">
                </div>
                <button class="btn btn-success" [disabled]="!status" (click)="onClick()">Click</button>
                <div *ngIf="serverStatus">
                    <div *ngFor="let ser of servers">
                    <p 
                    [ngStyle]="{backgroundColor: ser=='pass'? 'green' : 'red'}" 
                    [ngClass]="{textColor:ser=='pass'}">{{ ser }}</p>
                    
                </div> -->
<!-- ngStyle = rule : boolean condition
                ngClass = class : boolean condition -->
<!-- </div>
            </form> -->

<!-- </div>
    </div>
</div> -->